@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --black: #000112;
  --dark-bg: #20212C;
  --dark-grey: #2B2C37;
  --lines-dark: #3E3F4E;
  --medium-grey: #828FA3;
  --lines-light: #E4EBFA;
  --light-grey-bg: #F4F7FD;
  --white: #FFFFFF;
  --red: #EA5555;
  --red-hover: #FF9898;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  padding: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--medium-grey);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-purple); /* Darker color on hover */
}


body {
  color: var(--black);
  background: var(--light-grey-bg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
